.toggle_theme_button {
    position: fixed;
    top: 80px;
    right: 50px;

    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;

    span {
        border: none;
        svg {
            border: none;
        }
    }

}