
.modal-light {
    border: 1px #000 solid;
}
.modal-dark {
    border: 1px #fff solid;
}


.modal-info {
    background-color: #0008;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    overflow-y: scroll;
}

.modal-container {
    margin-top: 10vh;
    height: 15vh;
    max-height: 85vh;
    border-radius: 15px;
    animation: fadeIn .4s;
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    
}

/* 50, 60, 70, 80, 90 */
.modal-container-50 {
    width: 50%;
}
.modal-container-60 {
    width: 60%;
}
.modal-container-70 {
    width: 70%;
}
.modal-container-80 {
    width: 80%;
}
.modal-container-90 {
    width: 90%;
}

