.sun_icon {
    .sun_primary{
        fill: var(--my-secondary);
    }
    .sun_secondary{
        fill: var(--my-yellow);
    }
}
.moon_icon {
    .moon_primary{
        fill: var(--my-secondary);
    }
    .moon_secondary{
        fill: var(--my-yellow);
    }
}
.circle_xmark_icon {
    .circle_xmark_primary{
        fill: #800;
    }
    .circle_xmark_secondary{
        fill: #000;
    }
}
.gears_icon {
    .gears_primary{
        fill: #05f2be;
    }
    .gears_secondary{
        fill: #9616ff;
    }
}