.sun_icon {
    .sun_primary{
        fill: var(--my-secondary);
    }
    .sun_secondary{
        fill: var(--my-yellow);
    }
}
.moon_icon {
    .moon_primary{
        fill: var(--my-secondary);
    }
    .moon_secondary{
        fill: var(--my-yellow);
    }
}